.article-middle {
  display: flex;
  width: 440px;

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 580px) {
    padding-bottom: 0;
    margin-bottom:20px;
  }

  &__container {
    flex-basis: 440px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      flex-direction: row;
      width: 100%;
      flex-direction: row;
      flex-basis: 100%;
    }

    @media (max-width: 580px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 440px;
    height: 265px;
    margin-bottom: 5px;

    @media (max-width: 992px) {
      width: 240px;
      height: 240px;
    }

    @media (max-width: 768px) {
      width: 375px;
      height: 220px;
      margin-right: 10px;
    }

    @media (max-width: 580px) {
      width: 300px;
      height: 170px;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100% !important;

      @media (max-width: 580px) {
        width:100%;
        
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__date {
    margin-bottom: 3px;
   
    font-weight: 500;
    font-size: 14px;
    color:#0A255099;
    letter-spacing: 0.02em;
text-transform: capitalize;

color: rgba(10, 37, 80, 0.6);

    @media (max-width: 580px) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'Oswald';
font-weight: 500;
font-size: 30px;
letter-spacing: 0.05em;
color: #0A2550;

    @media (max-width: 580px) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__text {
    height: 100px;
    overflow: hidden;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(10, 37, 80, 0.85);

    @media (max-width: 580px) {
      height:65px;
    }
  }
.article-middle__read{
  border-radius: 3px;
  margin-top:15px;
  padding:4px 10px;
  text-align: center;
  margin-left: auto;
  font-weight: bold;
font-size: 12px;
border:1px solid #0A2550!important;
color:#0A2550;
}

}
