<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/admin.min.css">
  <title>Document</title>
</head>
<div class="wrapper">
  <div class="edit-panel">
    <div class="edit-params">
      <div class="edit-params-id">
        <p>Айди статьи</p>
        <input id="params-id" type="text">
      </div>
      <div class="edit-params-date">
        <p>Дата Публикации</p>
        <input id="params-date" type="text">
      </div>
    </div>
    <div class="edit-params-title">
      <p>Заголовок статьи</p>
      <input id="params-title" type="text">
    </div>
    <div class="edit-params-image">
      <p>Главная картинка</p>
      <input id="params-image" type="text">
    </div>
  </div>

  <div class="edit-wrapper-body">
    <div class="edit-wrapper-panel">
      <div class="edit-panel__menu">
        <button id="add_h1">H1 заголовок</button>
        <button id="add_h4">H4 заголовок</button>
        <button id="add_p">Параграф</button>
        <button id="add_photo">Фото</button>
        <button id="image_to_server">Загрузить файл</button>
      </div>
      <div class="edit-panel__display">
        <textarea id="admin_textarea" class="edit-panel__textarea"></textarea>
      </div>
      <div class="edit-panel__footer">
        <div class="select-section-container">
          <div>Выбор секции</div>
          <select id="section">
            <option>Не выбрано</option>
            <option>languages</option>
            <option>guides</option>
            <option>others</option>
          </select>
        </div>
        <!-- Меню рубрик -->
        <div class="select-languages-container">
          <div>Выбор Рубрик</div>
          <select id="languages">
            <option>Не выбрано</option>
            <option>rubricHtml</option>
            <option>rubricCss</option>
            <option>rubricJavascript</option>
            <option>rubricWebpack</option>
          </select>
          <select id="guides">
            <option>Не выбрано</option>
            <option>rubricOthers</option>
          </select>
          <select id="others">
            <option>Не выбрано</option>
            <option>rubricNews</option>
          </select>
        </div>
        <button id="send_to_server" class="edit-panel__send">Отправить</button>
      </div>
    </div>
    <div id="preview"></div>
  </div>
</div>

<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>