 <!-- Footer -->
 <div class="footer">
   <div class="footer__wrapper container">
    <div class="footer__top">
      <img src="assets/icons/LogotipFooter.png">
      <div class="footer__arrowUp-container">
        <p>вверх</p>
        <img src="assets/icons/arrayFooter.png">
      </div>
    </div>
    <div class="footer__body">
      <div class="footer__menu">
        <a class="footer_notPadding-left" href="index.html">Главная</a>
        <a href="articles.html">Мои статьи</a>
        <a href="works.html">Мои работы</a>
        <a href="service.html">Услуги</a>
        <a class="footer_notBorder" href="">Контакты</a>
      </div>
      <div class="footer__social-wrapper">
        <div class="footer__social">
            <a href="http://vk.com/jaclon" target="_blank"><img src="assets/icons/vkFooter.png"/></a>         
            <a href="https://github.com/Alexnoch" target="_blank"><img src="assets/icons/GitFooter.png"/></a>   
            <img src="assets/icons/Email.png"/>   
        </div>
      </div>
      <div class="footer__call">
        <a class="footer__call-btn">Связаться</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__conficial">Cайт разработан в 2021г. Копирование сайта запрещено.</div>
    </div>
  </div>
</div>

