 <!-- Footer -->
 <div class="footer container">
    <div class="footer__social">
      <div class="footer__social-container">
        <div class="footer__social-icon">
          <img src="assets/icons/vkf.png" />
          <p>vk.com/jaclon</p>
        </div>
        <div class="footer__social-icon">
          <img src="assets/icons/mailf.png" />
          <p>alexworknoch@mail.ru</p>
        </div>
        <div class="footer__social-icon">
          <img src="assets/icons/telf.png" />
          <p>telegram.com/alexnoch1</p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__conficial">Политика конфиденциальности</div>
      <div class="footer__copyright">&copy 2021, Alex Noch</div>
      <div class="footer__designAutor">
        Дизайн:
        <a href="https://www.behance.net/olegmurga "
          ><span>Oleg Murga</span></a
        >
      </div>
    </div>
  </div>