 <!-- Footer -->
 <div class="footer">
   <div class="footer__wrapper container">
    <div class="footer__top">
      <img src="assets/icons/LogotipFooter.png">
      <img src="assets/icons/arrayFooter.png">
    </div>
    <div class="footer__body">
      <div class="footer__menu">
        <a class="footer_notPadding-left" href="">Главная</a>
        <a href="">Мои статьи</a>
        <a href="">Мои работы</a>
        <a href="">Услуги</a>
        <a class="footer_notBorder" href="">Контакты</a>
      </div>
      <div class="footer__social-wrapper">
        <div class="footer__social">
            <img src="assets/icons/vkFooter.png" />         
            <img src="assets/icons/GitFooter.png" />   
            <img src="assets/icons/Email.png" />   
        </div>
      </div>
      <div class="footer__call">
        <a class="footer__call-btn">Позвонить</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__conficial">Cайт разработан в 2021г. Копирование сайта запрещено.</div>
    </div>
  </div>
</div>

