<div class="header">
    <div class="header__container">
      <div class="header__menu">
        <div class="header__logo">
          <img src="assets/icons/Logotip.png" alt="logo" />
        </div>
        <!-- Меню бургер -->
        <div class="mobile">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <nav>
            <ul>
              <li><a class="border-active" href="index.html">Главная</a></li>
              <li><a href="articles.html">Мои статьи</a></li>
              <li><a href="works.html">Мои работы</a></li>
              <li><a href="service.html">Услуги</a></li>
              <li><a href="#link">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__nav">
          <li class="header__nav-item">
            <a id="homePage" class="active" href="index.html">Главная</a>
          </li>
          <li class="header__nav-item">
            <a id="works" href="articles.html">Мои статьи</a>
          </li>
          <li class="header__nav-item">
            <a id="works" href="works.html">Мои работы</a>
          </li>
          <li class="header__nav-item">
            <a id="servis" href="service.html">Услуги</a>
          </li>
          <li class="header__nav-item skipRightMargin">
            <a id="contacts" href="#">Контакты</a>
          </li>
        </div>
        <div class="header__social">
          <a href="http://vk.com/jaclon"
            ><img src="assets/icons/Vk.png" alt="vk"
          /></a>
          <a href="#form"><img src="assets/icons/mail.png" alt="mail" /></a>
          <a href="http://github.com/alexnoch"
            ><img
              class="skipRightMargin"
              src="assets/icons/git.png"
              alt="github"
          /></a>
        </div>
        <div class="header__button">
          <a href="#form">Связаться со мной</a>
        </div>
      </div>
    </div>
  </div>